<h1>New Requirement</h1>

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><a href="#">Projects</a></li>
  <li class="breadcrumb-item"><a routerLink="/projects/{{project.id}}">{{ project.name }}</a></li>
  <li class="breadcrumb-item active">New Requirement</li>
</ol>

<div class="">
<!--  <div class="form-group row pb-2">-->
<!--    <label class="col-form-label col-sm-2 text-right" for="reqText">Req ID</label>-->
<!--    <div class="col-sm-10">-->
<!--      <input class="form-control w-auto" type="text" id="reqId" (change)="updateReqId($event)">-->
<!--    </div>-->
<!--  </div>-->
  <div class="form-group row">
    <label class="col-form-label col-sm-2 text-right" for="reqText">Requirement</label>
    <div class="col-sm-10 pr-5">
      <input class="form-control w-100" type="text" id="reqText" readonly="" data-cip-id="readOnlyInput"
             value="{{req}}">
    </div>

  </div>
</div>

<div class="row equal">
  <div class="col-md-6 pl-3 pr-1">
    <div class="card bg-secondary h-100">
      <div class="card-body">
        <h4 class="card-title">Scope
          <small><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
                    title="Scope是对Property的成立范围的要求。"></i></small>
        </h4>
        <div class="row">
          <div class="col-md-4 pr-0">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectedScope.name}}
              </button>

              <ul dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let scope of scopes" (click)="selectScope(scope)"
                    class="dropdown-item">{{scope.name}}
                </li>
              </ul>
            </div>
            <div class="mt-2">
              <small class="text-justify "><p class="text-muted">{{selectedScope.description}}</p></small>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedDelay === null ? 'Delay' : selectedDelay.name }}
              </button>

              <ul dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let delay of selectedScope.candidateDelay" (click)="selectDelay(delay)"
                    class="dropdown-item">{{delay.name}}
                </li>
              </ul>
            </div>
            <div class="mt-2">
              <small class="text-justify "><p class="text-muted">{{selectedDelay === null ? 'Delay可以分别对Scope的左右端点成立时间进行延时。' : selectedDelay.description}}</p></small>
            </div>


          </div>
          <div class="col-md-8">
            <app-scope-expression-wizard [scope]="selectedScope" [delay]="selectedDelay" [projectId]="project.id" (scopeChanged)="updateRequirement()" (scopeValidChanged)="updateScopeValid($event)"></app-scope-expression-wizard>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6 pl-1 pr-3">
    <div class="card bg-secondary h-100">
      <div class="card-body">
        <h4 class="card-title">Property
          <small><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Property是对控制对象的要求。"></i></small>
        </h4>
        <div class="row">
          <div class="col-md-4 pr-0">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedProperty.name }}
              </button>

              <ul dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let property of properties" (click)="selectProperty(property)"
                    class="dropdown-item">{{property.name}}
                </li>
              </ul>
            </div>
            <div class="mt-2">
              <small class="text-justify"><p class="text-muted">{{selectedProperty.description}}</p></small>
            </div>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Property
              </button>

              <ul dropdownMenu class="dropdown-menu" role="menu">
                <li *ngFor="let property of properties" (click)="selectAdditionalProperty(property)"
                    class="dropdown-item">{{property.name}}
                </li>
              </ul>
            </div>
            <div class="mt-2">
              <small class="text-justify"><p class="text-muted">{{ '在同一Scope下添加额外的Property。' }}</p></small>
            </div>

          </div>
          <div class="col-md-8">
            <app-property-expression-wizard [property]="selectedProperty" [additionalProperties]="additionalProperties" [projectId]="project.id" (propertyChanged)="updateRequirement()" (propertyValidChanged)="updatePropertyValid($event)"></app-property-expression-wizard>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="pt-3 pr-1">
  <button class="btn btn-primary float-right" (click)="createRequirement()" [disabled]="!(propertyValid && scopeValid)">Create</button>
  <button id="emptyExprButton" hidden data-toggle="modal" data-target="#emptyExprModal"></button>

  <!-- The Modal-->
  <div class="modal fade" id="wrongRequirementModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Wrong Requirement</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          The property <strong>Existence</strong> can only <strong>delay without end</strong>.
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



